<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Collaborate - Home</title>
<link rel="stylesheet" th:href="@{/css/index.css}">
</head>
<body>

	<div class="welcome-container">
		<div class="logo-box">
			<div class="circle-left"></div>
			<div class="circle-main">
				<div class="smile"></div>
			</div>
			<div class="circle-right"></div>
			<div class="legs leg-l"></div>
			<div class="legs leg-m"></div>
			<div class="legs leg-r"></div>
		</div>

		<h1>COLLABORATE</h1>
		<p>A project management tool for developers</p>

		<div class="btn-group">
			<a href="/register" class="btn">Sign up</a> <a href="/login"
				class="btn">Login</a>
		</div>
	</div>

</body>
</html>