<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Collaborate - Log in</title>
<link rel="stylesheet" th:href="@{/css/login.css}">
</head>
<body>

	<div class="login-container">
		<div class="logo-box">
			<div class="circle-left"></div>
			<div class="circle-main">
				<div class="smile"></div>
			</div>
			<div class="circle-right"></div>
			<div class="legs leg-l"></div>
			<div class="legs leg-m"></div>
			<div class="legs leg-r"></div>
		</div>

		<h2>Log in</h2>

		<div th:if="${param.error}" class="error-msg">Email or password
			is incorrect!</div>

		<div th:if="${param.success}" class="success-msg">Registration
			completed! You can now log in</div>

		<div th:if="${param.logout}" class="success-msg">You have
			successfully logged out of the system</div>

		<form th:action="@{/login}" method="post">
			<div class="form-group">
				<label for="username">Email</label> <input type="email"
					id="username" name="username" required />
			</div>

			<div class="form-group">
				<label for="password">Password</label> <input type="password"
					id="password" name="password" required />
			</div>

			<div class="btn-box">
				<button type="submit" class="btn">Log in</button>
			</div>
		</form>

		<div class="footer-link">
			New here? <a href="/register">Sign up</a>
		</div>
	</div>

</body>
</html>