<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Collaborate - Sign up</title>
<link rel="stylesheet" th:href="@{/css/register.css}">
</head>
<body>

	<div class="register-container">
		<div class="logo-box">
			<div class="circle-left"></div>
			<div class="circle-main">
				<div class="smile"></div>
			</div>
			<div class="circle-right"></div>
			<div class="legs leg-l"></div>
			<div class="legs leg-m"></div>
			<div class="legs leg-r"></div>
		</div>

		<h2>Sign up</h2>

		<form th:action="@{/register}" th:object="${user}" method="post">
			<div class="form-group">
				<label for="username">Name</label> <input type="text" id="username"
					th:field="*{username}" required />
			</div>

			<div class="form-group">
				<label for="email">Email</label> <input type="email" id="email"
					th:field="*{email}" required />

				<div th:if="${emailError}" class="error-message">
					❌ <span th:text="${emailError}">Error message</span>
				</div>
			</div>

			<div class="form-group">
				<label for="password">Password</label> <input type="password"
					id="password" th:field="*{password}" minlength="6" required />
				<div class="hint">Must be at least 6 characters long</div>
			</div>

			<div class="form-group">
				<label for="passwordConfirmation">Password confirmation</label> <input
					type="password" id="passwordConfirmation"
					name="passwordConfirmation" required />

				<div th:if="${passwordError}" class="error-message"
					style="margin-top: 5px;">
					❌ <span th:text="${passwordError}">Passwords do not match!</span>
				</div>
			</div>

			<div class="btn-box">
				<button type="submit" class="btn">Sign up</button>
			</div>
		</form>

		<div class="footer-link">
			Already a member? <a href="/login">Log in</a>
		</div>
	</div>

</body>
</html>